<div class="container">
  <br>
  <%= render partial: "shared/user_content" %>

  <br>
  <%= render partial: "shared/user_nav_tabs" %>

  <br>

  <% @collects.each do |collect| %>
    <div class="card" id="collect-post-<%= collect.post.id %>">
      <div class="card-body">
        <h5 class="card-title">
          <div class="row">
            <div class="col-9">
              <%= link_to collect.post.title, post_path(collect.post) %>
            </div>
            <div class="col-3">
              <% if @user == current_user %>
                <% @post = collect.post # for render partial %>
                <%= render partial: "shared/collect_button" %>
              <% end %>
            </div>
          </div>
        </h5>

      </div>
    </div>
  <% end %>
</div>
