<div class="container">
  <br>
  <%= render partial: "shared/user_content" %>

  <br>
  <%= render partial: "shared/user_nav_tabs" %>

  <br>

  <div class="card">
    <!-- 顯示收到 @user 送出的好友申請並等待回覆的使用者 -->
    <h5 class="card-header text-center">Waiting for response</h5>
    <div class="card-body row">
      <% @wait_for_responses.each do |response| %>
        <% if response.friend.id %>
        <span class="card-text text-center p-1">
          <%= link_to user_path(response.friend.id) do %>
            <%= filestack_image response.friend.avatar, transform: filestack_transform.resize(width:70, height:70) if response.friend.avatar && response.friend.avatar != "" %>
            <h5><%= response.friend.name %></h5>
          <% end %>
        </span>
        <% end %>
      <% end %>
    </div>

    <!-- 顯示發送邀請給 @user 的使用者 -->
    <h5 class="card-header text-center">Friend Request</h5>
    <div class="card-body row">
      <% @requests.each do |request| %>
      <span class="card-text text-center p-1" id="request-<%= request.id %>">
        <%= link_to user_path(request.user) do %>
          <%= filestack_image request.user.avatar, transform: filestack_transform.resize(width:70, height:70) if request.user.avatar && request.user.avatar != "" %>
          <h5><%= request.user.name %></h5>
        <% end %>

        <% if current_user == @user %>
          <%= link_to friend_accept_user_path(request.id), method: :post, class: "btn btn-sm", remote: true do %>
            <%= fa_icon "check-circle 2x" %>
          <% end %>

          <%= link_to  friend_ignore_user_path(request.id), method: :post, class: "btn btn-sm", remote: true do %>
            <%= fa_icon "times-circle 2x" %>
          <% end %>
        <% end %>

      </span>
      <% end %>
    </div>

    <!-- 顯示 @user 的好友清單 -->
    <h5 class="card-header text-center">Friend List</h5>
    <div class="card-body row" id="friend-list">
      <% @friendships.each do |friendship| %>
        <!-- 辨識好友 -->
        <% if @user != friendship.user %>
          <% friend = friendship.user %>
        <% else %>
          <% friend = friendship.friend %>
        <% end %>
        <span class="card-text text-center p-1">
          <%= link_to user_path(friend) do %>
            <%= filestack_image friend.avatar, transform: filestack_transform.resize(width:70, height:70) if friend.avatar && friend.avatar != "" %>
            <h5><%= friend.name %></h5>
          <% end %>
        </span>
      <% end %>
    </div>
  </div>
</div>
