<!-- 文章分類按鈕 -->
<ul class="nav nav-pills">
  <li class="nav-item">
    <%= link_to "All", root_path, class:"btn btn-light  nav-link #{ 'active' if current_page?(root_path)}" %>
  </li>
  <% @categories.each do |category| %>
  <li class="nav-item">
    <%= link_to category.name, category_path(category.id), class:"btn btn-light nav-link #{ 'active' if current_page?(category_path(category.id)) }" %>
  </li>
  <% end %>
</ul>

<br>

<!-- 文章列表 -->
<table class="table table-dark table-striped table-hover">
  <thead>
    <tr>
      <th class="text-center" scope="col">Replies count</th>
      <th scope="col">Title</th>
      <th class="text-center" scope="col">Last replied at</th>
      <th class="text-center" scope="col">Viewed count</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr data-link="<%= post_path(post.id) %>">
        <!-- <th scope="row">1</th> -->
        <th class="text-center"><%= post.comments_count %></th>
        <td><%= post.title %></td>
        <td class="text-center">
          <% if post.comments_count != 0 %>
            <%=post.comments.last.created_at.strftime("%Y-%m-%d")%>
          <% end %>
        </td>
        <td class="text-center">#viewed_count</td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>
