<div class="row">
  <div class="col-3">
    <%= filestack_image @user.avatar, transform: filestack_transform.resize(width:150, height:150) if @user.avatar && @user.avatar != "" %>

    <h4><%= @user.name %></h4>

    <div class="text-center">
      <%= render partial: "shared/friendship_button" %>
    </div>
  </div>

  <div class="col-9">
    <h5><%= @user.introduction %></h5>

    <br>
    <span  class="float-right">
      <% if current_user == @user %>
        <%= link_to edit_user_path(@user.id), class:"btn btn-primary" do %>
          <%= fa_icon "edit 2x" %>
        <% end %>
      <% end %>
    </span>
  </div>
</div>
