<div class="container">
  <div class="row">
    <h3><%= @post.title %></h3>

    <div class="ml-auto">
      <%= link_to "Collect#dev", root_path, class: "btn btn-primary" %>
      <button type="button" name="button" class="btn btn-info">Comment#dev</button>
    </div>
  </div>
  <hr>
  <div class="row border">
    <div class="col-sm-3">
      <!-- user.avatar, user.name, add_friend button -->
      <%= filestack_image @post.user.avatar, transform: filestack_transform.resize(width:150, height:150), class:"text-center" if @post.user.avatar %>
      <h4><%= @post.user.name %></h4>
    </div>

    <div class="col-sm-9 border">
      <%= filestack_image(@post.file, transform: filestack_transform.resize(width:300, height:200), class:"border") if @post.file != "" %>
      <br>
      <%= @post.content %>

      <div class="clearfix"></div>
      <div class="float-right">
        <%= link_to "Edit", edit_post_path(@post.id), class: "btn btn-info" if current_user == @post.user %>
        <%= link_to "Delete", post_path(@post.id), method: :delete, data: {disable_with: "waiting.."}, class: "btn btn-danger" if current_user.role == "Admin" || current_user == @post.user %>
      </div>
    </div>
  </div>
</div>
