<div class="container">
  <div class="row">
    <h3><%= @post.title %></h3>

    <div class="ml-auto">
      <%= link_to "Collect#dev", root_path, class: "btn btn-primary" %>
      <button type="button" name="button" class="btn btn-info">Comment#dev</button>
    </div>
  </div>
  <hr>

  <%= render partial: "shared/post_content", locals: {post_object: @post} %>

  <% if @comments != nil %>
    <h4>Comments</h4>
    <% @comments.each do |comment| %>
      <%= render partial: "shared/comment_content", locals: {comment: comment} %>
    <% end %>
  <% end %>

  <!-- 輸入回覆內容 -->
  <%= form_for [@post, @comment] do |f| %>
    <div class="form-group">
      <%= f.text_area :content, placeholder: "Add some comment?", class: "form-control" %>
    </div>

    <div class="form-group float-right">
      <%= f.submit "Submit", class: "btn btn-primary" %>
      <%= f.button "Clear", type: :reset, class: "btn btn-light" %>
    </div>
  <% end %>
</div>
