<div class="container">
  <div class="row mt-2">
    <h3><%= @post.title %></h3>

    <div class="ml-auto">
      <%# render partial: "shared/collect_button" %>
      <%= render partial: "shared/collect_button", locals: { post: @post } %>

      <a href="#comments" class="btn btn-primary"><%= fa_icon "comment" %></a>
    </div>
  </div>
  <hr>

  <%= render partial: "shared/post_content", locals: {post_object: @post} %>

  <% if @comments != nil %>
    <h4>Comments</h4>
    <% count = 1 %>
    <% @comments.each do |comment| %>
      <%= render partial: "shared/comment_content", locals: {comment: comment, count: count} %>
      <% count += 1 %>
    <% end %>
  <% end %>

  <div class="pagination justify-content-center">
    <%= paginate @comments %>
  </div>

  <!-- 輸入回覆內容 -->
  <%= form_for [@post, @comment] do |f| %>
    <div class="form-group" id="comments">
      <%= f.text_area :content, placeholder: "Add some comment?", class: "form-control" %>
    </div>

    <div class="form-group float-right">
      <%= f.submit "Submit", class: "btn btn-primary" %>
      <%= f.button "Clear", type: :reset, class: "btn btn-light" %>
    </div>
  <% end %>
</div>
